@media (max-width: 1010px) {
    nav{
        position: fixed;
        width: 100%;
        margin: 0;
        padding:0; 
    }
    .ul.flex {
        flex-direction: column;
position: absolute; 
top : 99px;   
    background-color :#ffffff00;
     justify-content: center;
     width: 100%;
     left: 0; 
     z-index: 1000; 
     backdrop-filter: blur(5px);
    }
.icon{
  margin-left: 15% ;
    justify-content: center;
        
}
label[for="menu-check"] {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 28px;
  z-index: 1101;
}


   #menu-check:checked ~ .ul.flex{
    display: flex;}
   label .open {
    display: inherit;
   }
    .close{
    display: none;
   }
  
    #menu-check:checked ~ label .open{
      display: none;}
      #menu-check:checked ~ label .close{
        display: inherit;
      }
      
    .ul.flex{
        display: none;
        flex-direction: column;
  position: absolute;
  top: 81px;
  background-color: rgba(253, 254, 255, 0.451);
   width: 100%;
 justify-content: center;
  left: 0;
    padding: 20px 0;
backdrop-filter: blur(10px);
   
}
header{
  background-size: cover;
                background-position: center;
                height: 100vh;
                margin: 0;
                padding: 0;
}
header .container{
  flex-direction: column;
  text-align: center;

 }
header h1{
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  margin: 0;

 }
 
header p{
  font-size: 100%;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
header .button{
text-align: center;
}
header img{
display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100% ; 
    height: auto;
}
.cards{
 display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    padding: 0 10px;
}
.card{
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
margin: 20px ;
margin-bottom: 5%;
 flex-wrap: nowrap;
 
}
.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.about .imge{
  display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 70% ; 
    height: auto;
}
.about .cont{
  width: 70%;
  text-align: center;
  margin-left: 0px;
}  
}



@media (max-width: 600px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    gap: 20px;
    margin: 5px

  }

  .card {
    width: calc(50% - 20px);
    height: 20%;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
  }
.card ico{
  font-size: 30px;
  }
  .card p{
    font-size: 12px;
    margin-bottom: 10px;
  }
  .card h3{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .about .cont{
    width: 90%;
    text-align: center;
    margin-left: 0px;
  }  
  header{
      padding-top: 20px;
  }
header h1{
  font-size: 1.6rem;
  text-align: center;


}  
  
}
