
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    top:0;
    width: 100%;
    display: flex;
    padding: 2%;
    background-color: white;
    align-items: center;
    border: 2px solid white;
    position: fixed;
    box-shadow: 0px 2px 20px rgb(210, 233, 238);
    z-index: 1000;
}
nav img{
    width: 10%;
    height: 10%;
    margin-left: 9%;

}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ul{
    
    display: flex;
gap: 15px;
    margin: 0;
    padding: auto;
    justify-content: center;
    list-style: none;
    margin-left: 60px;
  
}
.ul li a{

    margin: 0 20px;
    font-size: 20px;
    color: black !important;
    text-decoration: none;
    justify-content: center;
}
.link{
    margin: 0 10% 0 10% ;
}
.sarch{
    width: 50%;
    height: 50%;
         justify-content : center;
    align-items: center;
}
.icon{
    margin-right:25% ;
    display: flex;
}
ul.flex{
    display:flex;
}
label .open , label .close{
  display: none;
}

body {
  
  padding-top: 120px;

}
header {
  background-color: #f9f9f9;
  padding: 50px 0 ;
  text-align: center;
}
header .cont{
    width: 50%;
    text-align: start;
    margin-left: 20px;
    
} 

header h1{
    


     font-size: 4.5rem;
  font-weight: 700;
 
  margin: 0;
  
}
header .book {
    color: hsl(181.57deg 90.53% 33.14%);
      margin-bottom: 30px;
}
header p{
    font-size: 17px;
    color: #070707;
    font-weight: 400;
    margin-bottom: 30px;
}
.button {
    background-color: hsl(181.57deg 90.53% 33.14%);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px 0;
    text-decoration: none;
} 


header .img{
    width:auto;
}

#menu-check:checked ~ .ul.flex {
    display: flex;
}

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
  gap: 5px;
}
.card{
    width:300px;
    box-shadow: 0px 0px 10px hsl(181.57deg 90.53% 33.14%);
    margin: 0 20px;
    padding: 20px;
    text-align: center;    
    gap:3px;
}
.ico{
color: hsl(181.57deg 90.53% 33.14%);
    font-size: 40px;
    line-height: 1.8;
}
.card p{
    font-size: 15px;
    color: #070707;
    font-weight: 450;
    margin-bottom: 30px;
}
 .about{
   margin-top:3%;
 }
 .about p{
    font-size: 20px;
    font-weight: 250;
    margin-bottom: 30px;
 }
.cont h2{
    font-size: 50px;
    color: #070707;
    font-weight: 700px;
    margin-bottom: 20px;
}
.imge img{
    width: 50%;
    height:auto;
} 